content-repository-schema.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="content-repository">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:string" name="repository-publisher"/>
        <xs:element type="xs:dateTime" name="last-updated"/>
        <xs:element name="contents">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="scap-content" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="id"/>
                    <xs:element type="xs:anyURI" name="location"/>
                    <xs:element name="checksum">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:string">
                            <xs:attribute type="xs:string" name="style"/>
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="benchmarks">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="benchmark" maxOccurs="unbounded" minOccurs="0">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element type="xs:string" name="id"/>
                                <xs:element type="xs:string" name="title"/>
                                <xs:element type="xs:string" name="version"/>
                                <xs:element type="xs:string" name="style"/>
                                <xs:element type="xs:string" name="status"/>
                                <xs:element type="xs:date" name="status-date"/>
                                <xs:element type="xs:string" name="creator"/>
                                <xs:element type="xs:string" name="publisher"/>
                                <xs:element type="xs:string" name="contributor"/>
                                <xs:element type="xs:string" name="source"/>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="platforms">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="platform" maxOccurs="unbounded" minOccurs="0">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element type="xs:string" name="id"/>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute type="xs:float" name="style"/>
    </xs:complexType>
  </xs:element>
</xs:schema>